//estilo card
.card
  //titulo del estilo card
  .card-header
    //icono book
    .fa.fa-graduation-cap
    //se agrega link en el nombre del curso
    = link_to course.title, course_path(course)
  //informacion del curso
  .card-body
    //se agrega formato de text par q sea mas pequeño
    %small= simple_format(course.short_description)
  .card-footer
    .text-center
      //se formatea el precio con valor de pesos $ y puntos de unidad
      = number_to_currency(course.price)
  .card-footer
    /se agrega conteo de cuantas lecciones tiene el curso seleccionado
    .fa.fa-tasks
      = course.lessons.count
  //parte inferior del estilo card
  .card-footer
    .row
      .col-md-6
        .fa.fa-globe-africa
        = course.language
      .col-md-6
        .text-right
          .fa.fa-signal
          = course.level
  .card-footer
    .row
      .col-md-6
        //far pone en blanco el icono clock
        .far.fa-clock
        //se realiza formateo de la fecha
        = course.created_at.strftime('%d-%b-%Y')
      .col-md-6
        .text-right
          // icono de teacher
          .fa.fa-chalkboard-teacher
          //se agrega username viene del split del correo de la tabla usuario, se agrega link al usuario
          = link_to course.user.username, user_path(course.user)
  /se agrega validacion del current user
  - if current_user
    /se agrega validacion de politicas si el usuarios puede ver los links de edicion, show, y destroy
    - if policy(course).edit?
      .card-footer
        = link_to 'Show', course, class: 'btn btn-sm btn-primary'
        = link_to 'Edit', edit_course_path(course), class: 'btn btn-sm btn-warning' 
        = link_to 'Destroy', course, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger'