//se agrega link de index del path de cursos
= link_to 'Courses', courses_path
\/
//se agrega link de index del path de cursos cargando un curso en especifico
= link_to @course.title, courses_path(@course)
%P
.row
  .col-lg-6
    //se renderiza el arhivo course.halm se envia por parametro la informacion del curso
    = render 'courses/course', course: @course
  .col-lg-6
    //cuando se da clic en add lesson se dirige al nuevo path llamado COURSES/COURSE_FRIENDLYID/NEW
    = link_to 'Add Lesson', new_course_lesson_path(@course, @lesson)
    - @lessons.each do |lesson|
      = render 'lessons/lesson', lesson: lesson
